{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}

{% block object-tools-items %}
	<li>
		<a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="grp-add-link grp-state-focus">
			增加菜单
		</a>
	</li>
	<li>
		<a href="{% url 'admin:weixin_button_pull_menu' %}{% if is_popup %}?_popup=1{% endif %}" class="grp-state-focus">
			从微信服务器读取菜单
		</a>
	</li>
	<li>
		<a href="{% url 'admin:weixin_button_push_menu' %}{% if is_popup %}?_popup=1{% endif %}" class="grp-state-focus">
			推送本地菜单至微信服务器
		</a>
	</li>
{% endblock %}
