{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}

{% block object-tools-items %}
	<li>
		<a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="grp-add-link grp-state-focus">
			增加菜单
		</a>
	</li>
	{% if config.type == 'M' %}
		<li>
			<a href="{% url 'admin:weixin_button_pull_menu' %}{% if is_popup %}?_popup=1{% endif %}" class="grp-state-focus">
				拉取菜单
			</a>
		</li>
		<li>
			<a href="{% url 'admin:weixin_button_push_menu' %}{% if is_popup %}?_popup=1{% endif %}" class="grp-state-focus">
				推送菜单
			</a>
		</li>
	{% else %}
		{% for agent in config.qyagent_set.all %}
			<li>
				<a href="{% url 'admin:weixin_button_pull_menu' %}?agent_id={{ agent.agent_id }}{% if is_popup %}&_popup=1{% endif %}" class="grp-state-focus">
					拉取 {{ agent.name }} 菜单
				</a>
			</li>
			<li>
				<a href="{% url 'admin:weixin_button_push_menu' %}?agent_id={{ agent.agent_id }}{% if is_popup %}&_popup=1{% endif %}" class="grp-state-focus">
					推送 {{ agent.name }} 菜单
				</a>
			</li>
		{% endfor %}
	{% endif %}
{% endblock %}
